/* Global styles */
* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  font-family: Roboto, 'Open Sans', sans-serif;
}

/* Header section */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #1f2937;
}

/** Header navigation **/
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;;
  padding-top: 16px;
  width: 70%;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  color: #f9faf8;
}

.navigation-links {
  display: flex;
  column-gap: 24px;
}

.navigation-links li {
  list-style: none;
  color: #e5e7eb;
  font-size: 18px;
}

/** Header hero **/
.hero {
  display: flex;
  width: 70%;
  gap: 48px;
  padding: 120px 0;
}

.hero-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hero-heading {
  color: #f9faf8;
  font-weight: 900;
  font-size: 48px;
}

.hero-text {
  color: #e5e7eb;
  font-size: 18px;
}

.hero-button {
  background-color: #3882f6;
  color: #f9faf8;
  padding: 8px 32px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  width: 130px;
  border-style: none;
}

.hero-button:hover {
  cursor: pointer;
  background-color: #568ce3;
}

.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: #7a7a7b;
}

/* Information section */
.information {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/** Information headline **/
.info-heading {
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
  margin: 32px 0;
}

/** Information card section **/
.card-wrapper {
  display: flex;
  justify-content: center;
  gap: 48px;
}

.info-card {
  max-width: 150px;
}

.card-image {
  width: 144px;
  height: 144px;
  border: 3px #3882f6 solid;
  border-radius: 10px;
}

.card-text {
  color: #353535;
  text-align: center;
  margin-top: 8px;
}

/* Quote section */
.quote-section {
  background-color: #e5e7eb;
  padding: 100px 25vw;
  margin-top: 100px;
}

.quote-text {
  color: #1f2937;
  font-size: 36px;
  font-style: italic;
  font-weight: 100;
}

.quote-author {
  font-size: 24px;
  font-weight: 900;
  text-align: right;
  padding: 16px 32px;
}

/* Call to Action section */
.cta-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55%;
  padding: 48px 8vw;
  background-color: #3882f6;
  margin: 80px 0;
  border-radius: 10px;
}

.cta-heading {
  color: #f9faf8;
  font-weight: 900;
  font-size: 22px;
  margin-bottom: 8px;
}

.cta-text {
  font-size: 18px;
  color: #e5e7eb;
}

.cta-button {
  background-color: #3882f6;
  color: #f9faf8;
  border: #f9faf8 2px solid;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  padding: 8px 48px;
}

/* Footer section */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 32px;
  background-color: #1f2937;
  color: #e5e7eb;
  font-size: 18px;
}
